<br />

<div class="booyah-box col-10 offset-1">
  <h1>Our Team</h1>

  <p>
    Kelly Howdy
    <br />
    Eddy Wasup
    <br />
    Charles Hi
    <br />
    Frank Greetings
    <br />
    Claudia Salve
    <br />
  </p>
</div>