@import "bootstrap";
@import "font-awesome";

.hero {
   background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
  margin-top: -100px;
  
}
 
h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  border-radius: 0;
}

.feature{
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

body {
  background: image_url('bg.jpg');
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.navbar-inverse .navbar-brand {
  color: white;
  font-family: 'NexaRustSans-Black-Free', sans-serif;
  font-size: 26px;
}

.navbar {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.navbar-toggler {
  color: white;
  font-family: 'NexaRustSans-Black-Free', sans-serif;
  font-size: 26px;
}

.navbar-link {
  background: image_url('icon.png');
}


.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.help-block {
  color: #ff3333;
  background-radius: 3px;
  padding: 2px 8px 2px 8px;
  margin: 10px;
}

.clr {
  clear: both;
}

.img-fluid {
  max-width: 800px;
  max-height: 500px;
}

.lesson {
  background-color: #f2f2f7;
  margin-top: 10px;
  height: 130px;
}

.section {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
}

.lesson a {
  color: black;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 150;
  font-size: 15px;
}

.lesson a b {
  font-weight: 100;
  font-size: 25px;
}

ul {
  list-style-type: none;
}

.section-li {
  border: 1px solid;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 20px;
  margin: 20px;
}

ul .header {
  font-size: 25px;
}

ul .header .fa {
  font-size: 20px;
}

.padding-left{
  padding-left: 40px;
}

.lessons li {
  background: #f2f2f7;
  margin: 10px;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
  font-weight: 100;
}

.lessons li p {
  margin: 0;
}
